<h1>Dashboard</h1>
<div class="info-cards">
    <div class="card" *ngFor="let employee of dataSource.data">
        <div class="card-head">Imagen principal de la propiedad</div>
        <div class="card-body">
            <ul>
                <span class="card-property-name">
                    <li>Here</li>
                </span>
                <span class="card-property-location">
                    <li>Here</li>
                </span>
                <span class="card-property-description">
                    <li>Here</li>
                </span>
            </ul>
        </div>
    </div>
</div>