.info-cards {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Adjust the card width (150px) as needed */
  gap: 20px; /* Adjust the gap (space between cards) as needed */
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  /* Add any additional styling you desire for the individual cards */
}

.card .card-body li {
  list-style: none;
}
